* {
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    height: 1000px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
   position: relative;
   height: 40px;
}

.container .input{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 0;
    transition: width 0.5s ease;
    padding: 20px;
    font-size: 20px;
}

.container .btn{
    background-color: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease; 
}

.container.active .input{
    width: 90%;
}

.container.active .btn{
    transform: translateX(220px);
}

.img{
    height: 20px;
    width: 20px;
}