* {
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    height: 770px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
   position: relative;
   height: 70px;
}

.container .input{
    background-color: white;
    height: 70px;
    width: 70px;
    border: 0;
    transition: 0.5s;
    padding: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.container .btn{
    background-color: white;
    cursor: pointer;
    height: 70px;
    width: 70px;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
}

.container.active .input{
    width: 90%;
    transition: 0.5s;
}

.input:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}

.container.active .btn{
    transform: translateX(220px);
    transition: 0.5s;
}

.img{
    height: 30px;
    width: 30px;
}